<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <style>-->
<!--        div{-->
<!--            color:red-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--{% include 'common/header.html'%}-->
<!--</body>-->
<!--</html>-->
<!--2323-->



<!--</body>-->
<!--</html>-->
{% extends 'base.html' %}
{%block title%}
Main
{% endblock %}}
<!--{% for i in name %}-->
<!--<h3>{{i}}</h3>-->
<!--{% endfor %}-->
<!--{% for a in obj %}-->
<!--<h4>{{obj[a]}}=={{a}}</h4>-->
<!--{% endfor %}-->